@model IEnumerable<Web.ViewModels.ProfileViewModel>

@{    
    ViewBag.Title = "Поиск друзей";
}
<ul class="nav nav-tabs">
  <li class="nav-item">
  <a class="nav-link active" href="#">Друзья</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="/Friendship/Incoming">Входящие</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="/Friendship/SentRequests">Исходящие</a>
  </li>
</ul>

<div class="text-center">    
    @foreach(var account in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@account.FirstName @account.LastName @account.Login</h5>
                <h6 class="card-subtitle mb-2 text-muted">Город @account.City</h6>
                <p class="card-text">Возраст @account.Age</p>
                <p class="card-text">Пол @account.Gender</p>
                <p class="card-text">Интересы @account.Interests</p>
                <a href="/Friendship/RemoveFriend/@account.Id" class="btn btn-primary">Удалить</a>
            </div>
        </div>        
    }
</div>